# node modules
/node_modules

# build
/dist
/build

# cache
/.cache
.glitch-assets

# logs
npm-debug.log*
yarn-debug.log*

# env
.env
.env.*.local

# editor
.vscode/

# API request/response examples and scripts
/Req_Res/
/requests/
/responses/
/scripts/